<section id="banner">
    <h2>
        <div>
            {% image '@AppBundle/Resources/public/images/sanOcelo-12.png' %}
            <img  class="featurette-image img-responsive center-block" src="{{ asset_url }}" style="width: 50%" alt="SANOCELO" />
            {% endimage %}
        </div>
    </h2>
    <p>Another fine responsive site template freebie by HTML5 UP.</p>
    <ul class="actions">
        <li><a href="#" class="button special">Sign Up</a></li>
        <li><a href="#" class="button">Learn More</a></li>
    </ul>
</section>